{
    email {$ACME_EMAIL}
}

{$PUBLIC_HOSTNAME} {
    encode gzip zstd

    reverse_proxy wartungskalender:3000 {
        header_up X-Forwarded-Host {host}
        header_up X-Forwarded-Proto {scheme}
    }
}
